<!DOCTYPE html>
{% extends "template.html" %}

{% block main %}
	<div class="container">
		<div class="row">
		</div>
		<div class="row">
			<div class="col s12">
				<div class="card-panel blue-grey darken-1">
					<div class="white-text">
						{% for switch, ports in user.switches %}
							<h4  style="margin-top:10px;" class="col s12">{{ switch }}</h4>
							{% for port in ports %}
								{% if port %}
									<div class="col s12 m6 l6 center-align">
										<div class="card-panel">
											<canvas class="bandwidthCharts" data-switchName="{{switch}}" data-portName="{{loop.index}}"></canvas>
										</div>
									</div>
								{% endif %}
							{% else %}
								<p> No ports being monitored on this switch </p>
							{% endfor %}
						{% else %}
							<h4 style="text-indent:15px;">You do not have any switches yet. Maybe add one?</h4>
						{% endfor %}
						<div class="row">
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}