<!DOCTYPE html>

{% extends "template.html" %}

{% block main %}
	<div class="container">
		<div class="row">
		</div>
		<div class="row">
			<div class="col s12">
				<div class="card-panel blue-grey darken-1">
					<div class="white-text">
						<h4>Envision your network usage like never before</h4>
						<p>With Envision Network, you can track all the internet usage,
						both uploads and downloads, across any switch you own.</p>
						<p> Find out more, or view a live demo below. </p>
						<div class="row">
							<div class="col s12 m6">
								<a class="waves-effect waves-light btn" href="#modal1">Learn More</a>
								<div id="modal1" class="modal">
									<div class="modal-content blue-grey darken-1">
									  <h4>About Envision Network</h4>
									  <p>This site provides a front-end service to view network bandwidth
										usage in a convenient format. In this demo site, you can create and add
										switches with any number of ports, and the service will graph out usage 
										on these ports. Currently we do not use actual netowork data, but the proper
										data could be provided just as our test data is.</p>
									</div>
									<div class="modal-footer blue-grey darken-1">
									  <a href="#!" class=" modal-action modal-close waves-effect waves-light btn-flat teal lighten-1 white-text">I gotcha</a>
									</div>
								</div>
							</div>
						</div>
						<div class="divider blue-grey lighten-5"></div>
						<div class="row">
						</div>
						<div class="row">
							<div class="col s12 m3 l3">
							</div>
							<div class="col s12 m6 l6 center-align">
								<div class="card-panel">
									<canvas id="myChart"></canvas>
								</div>
							</div>
							<div class="col s12 m3 l3">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		setPage('index');
	</script>
{% endblock %}

{% block javascript %}
   <script type="text/javascript" src="/js/Chart.bundle.min.js"></script>
   <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
   <script type="text/javascript" src="/js/index.js"></script>
{% endblock %}
